
.heading-font {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a {
	color: #777777;
	text-decoration: none;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

div.container {
	height: 100%;
	width: 100%;

}

section.header-main {
	height: 100px;
	border-bottom: 1px solid #777777;

}

div.jumbotron-box {
	background-color: #4aaaa5;
	float: left;
	position: relative;
	width: 280px;
	color: white;
	height: 100%;
	display: table;
}
h1.jumbotron {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 45px;
}

div.menubar {
	float: right;
	display: table;
	height: 100%;
	/*margin-right: 40px;*/
}

a.topmenu {
	padding: 10px;
}

.menutext {
	vertical-align: middle;
	display: table-cell;

}

section.mainbody {

	height: 600px;
		background-image: url("../../images/circles-and-roundabouts.png");
	background-repeat: repeat;
	display: block;
	padding-top: 40px;
}

div.row {
	width: 960px;
	height: 100%;
	margin: auto;
}

div.bodyrow {
	/*height: 800px;*/
}

div.content-box {
	float: left;
	width: 650px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	display: inline-block;
	/*height: 700px;*/
	padding: 20px 10px 20px 20px;
}

.content-box-body {
	padding: 30px 0 20px 0;
}


div.content-title-box {
		height: 70px;
	width: 100%;
	background-color: #ffffff;

	
}


h2.content-title {
	font-size: 30px;
	display: table-cell;
	vertical-align: middle;
	border-bottom: 2px solid #dddddd;
	color: #4aaaa5;
}



img.profile-pic {

	width: 170px;
	float: left;
	padding: 0 10px 3px 0;
}

p.context {
	float: none;
}

div.social-box {
	float: right;
	width: 270px;
	height: 200px;
	border: 1px solid #dddddd;
	text-align: center;
	display: inline-block;
	background-color: #ffffff;
}

div.social-title-box {
	height: 25%;
	/*width: 100%;*/
	margin: 0 auto 0 auto;
	font-size: 20px;
	display: table;
	background-color: #ffffff;
}


.right-title {
	vertical-align: middle;
	text-align: center;
	border-bottom: 2px solid #dddddd;
	color: #4aaaa5;
	padding: 20px 0 5px 0;
}

div.social-box-body {

}

img.social-logo {
	margin-top: 25px;
	padding: 5px;
	width: 50px;
	height: 50px;

}

footer {
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
	width: 100%;
	position: fixed;
	bottom: 0px;
	height: 80px;
	display: table;
}

p.copy{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: lightgrey;
	font-size: 14px;

}